.Main {
    text-align: center;
  }

  .Main-head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    text-align: center;
    border-bottom: black solid 1px;
  }
  
  .Main-content {
    margin-top: 60px;
    background-color: #282c34;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }

  .filter {
    display: flex;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .component-filter {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
  }

  .filter-button {
    margin-top: 30px;
  }

  footer {
    font-size: small;
  }